body {
    margin-left: 5%;
    margin-right: 5%;
    
}
h1 {
    font-family: Arial;
}
.div-with-padding {
    padding-bottom: .5em;
}
.total {
    font-style: italic;
}
.invalid-amount {
    border-color: red;    
}
.selected {
    background-color: lightgray;
}
.deselected {
    background-color: #6c757d;
}